body {

	font-family: cursive;
	background-image: url("../images/maxresdefault.jpg");
	height: 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

#message_up_to_foot {

	margin-top: 7px;
	margin-bottom: 7px;
}

a {

	text-decoration: none;
}

.fa-docker {

  color: #FFFFFF;
  margin-left: 10px;
}

.fa-github {

  color: #FFFFFF;
}

.foot-link {

  -webkit-transition: -webkit-transform 0.8s ease-in-out;
          transition: transform 0.8s ease-in-out;
}

.foot-link:hover {

  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.matiere_class {

	color: #FFFFFF;
}

.welcome_class {

	color: #FFFFFF;
}

input {

	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}
