{{define "footertmpl"}}
<footer>
	
		<a class="navbar-brand link_in_contact_me github_icon_on_feets" href="https://github.com/Vicken-Ghoubiguian/Go_world_server" target="_blank" data-toggle="tooltip" data-placement="top" title="See this app on GitHub">
			<i class="fab fa-github fa-2x github-feetbar foot-link"></i>
		</a>
								
		<a class="navbar-brand link_in_contact_me docker_icon_on_feets" href="https://hub.docker.com/r/wicken/go_world_server" target="_blank" data-toggle="tooltip" data-placement="top" title="See this app on Docker Hub">
			<i class="fab fa-docker fa-2x docker-feetbar foot-link"></i>
		</a>

</footer>
{{end}}