{{define "maintmpl"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../styles/stylesheet.css">
		<link rel="icon" href="../styles/favicon.png" type="image/png">
		<title>{{.Title}}</title>
	</head>
	<body onLoad="JavaScript:timeRefresh();">

		{{if .Welcome_indicator}}

			{{template "bodytmpl" .}}

		{{else}}

			{{template "bodytmpl" .}}
		
		{{end}}
		Tick toute les <input type="number" id="refresh-time" value="10" min="1" max="59"> secondes.
		<script type="text/JavaScript">
			console.log(document.getElementById("refresh-time").value);

			function timeRefresh() {
				var refresh_time = document.getElementById("refresh-time").value;
				console.log(refresh_time);
				setTimeout("location.reload();", refresh_time * 1000);
			}

		</script>
	</body>
</html>
{{end}}
